#home {
  max-width: 1200px;
  margin: 0 auto;
  .blogs {
    a {
      text-decoration: none;
      cursor: pointer;
      .card {
        margin-top: 40px;
        padding: 20px;
        &:hover {
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.192);
        }
        h3 {
          color: black;
          margin: 8px 0;
          font-size: 27px;
        }
        .title {
          color: rgb(160, 31, 31);
          font-weight: 700;
          margin: 8px 0;
          font-size: 18px;
        }
        .author {
          color: rgb(94, 93, 93);
          margin: 8px 0;
          font-size: 18px;

        }
      }
    }
  }
}
